.background{
    -fx-background-color: #262626;
}

.flow{
    -fx-vgap: 25px;
}

.button{
    -fx-font-size: 24px;
    -fx-background-color: black;

    -fx-border-width: 1px;
    -fx-text-fill: rgb(200, 200, 200);
    -fx-border-color: rgb(200, 200, 200);

    -fx-cursor: hand;
}

.button:hover{
    -fx-border-style: dashed;
}