.g_button:focused, .btn:focused{
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.g_info{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-insets: 5px;
    -fx-background-radius: 25px;
    -fx-background-color: rgba(0, 0, 0, .4);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 0, 0, 0 , 1);
}

.g_button{
    -fx-cursor: hand;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-font-size: 16px;
    -fx-effect: none;
}

.g_button:pressed{
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 1), 15, 0, 0 , 1);
}

.g_separator{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-color: transparent;
}

.btn{
    -fx-font-size: 32px;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-font-smoothing-type: lcd; /* not working ?? */
}

.btn:hover{
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.7) , 25, 0.0 , 0 , 1);
}

.grid{
    -fx-padding: 20px;
    -fx-background-insets: 20px;
}

.background{
    -fx-background-image: url("../bg-game.jpg");
}